:root{
   --background:#fff;
   --backgound-nav:#000;
   --backgound-barra:#676666;
   --p-barra: #fff;
   --link-color:aliceblue;
   --logo-color:#fff;
   --button-color:#000;
   --textbutton-color:#fff;
   --about-text:#000;
   --btn-background:#fff;
   --btn-text:#000;
   --background-gallery:#fff;
}

.ligth:root{
    --background:#000;
    --backgound-nav:#fff;
    --backgound-barra:#fff;
    --p-barra: #676666;
    --link-color:#000;
    --logo-color:#000;
    --button-color:#fff;
    --textbutton-color:#000;
    --about-text:#fff;
    --btn-background:#000;
   --btn-text:#fff;
   --background-gallery:#000;
 }
 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    list-style: none;
    color: var(--link-color);
}

h2{
    font-size: 28px;
    font-weight:bold;
    text-transform: uppercase;
}
.padding{
    padding: 60px 0;
}

.container{
    max-width: 80%;
    margin: auto;
    padding: 0 1rem;
}

.row{
    display: flex;
}

button{
   width: 100px;
   height: 40px;
   background-color: var(--button-color);
   color: var(--textbutton-color);
   cursor: pointer;
}


body{
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}


.btn{
    width: 50px;
    height: 50px;
    background-color: var(--btn-background);
    color: var(--btn-text);
    border-radius: 50%;
}